@font-face {
 font-family: "Questrial";
 src: url("Questrial-Regular.ttf");
}
@font-face {
 font-family: "Syne";
 src: url("Syne-Bold.ttf");
}

/* by element type */
a {
  border: #fff solid 0.1em;
}

a.link {
  font-family: 'Syne', sans-serif;
  text-align: center;
  pointer-events: all;
  padding: 4px 6px;
  background: none;
  margin-bottom: 12px;
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
  user-select: none;
}

a.link:hover, a.link:active {
  background: radial-gradient(circle, rgba(255,255,255,1), transparent); 
}

html {
  font-family: "Questrial", sans-serif;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  display: flex;
}

body {
  /* Position and center the image to scale nicely on all screens */
  background-image: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.4)), url("background.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 100%;
  min-width: 100%;
  
  position: relative;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

nav {
  background-image: linear-gradient(rgba(249,202,247,0.7), rgba(249,202,247,0.2) 70%, transparent);
  position: sticky;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1.5rem 6rem;
}

.panel {
  display: flex;
  flex-direction: column;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  background: none;
  border: none;
  color: black;
  font-family: "Syne", sans-serif;
  margin-bottom: 12px;
  padding: 4px 6px;
  pointer-events: all;
  text-align: center;
  text-decoration: inherit; /* no underline */
  user-select: none;
}

@keyframes fade-in {
  from {
    /* pushes the sun down past the viewport */
    opacity: 0%;
  }
  to {
    /* returns the sun to its default position */
    opacity: 100%;
  }
}

.fade-in {
  opacity: 0;
  animation: 3s linear 0s forwards fade-in;
}

#assistant {
  clear: both;
}

.column {
	display: flex;
	flex-direction: column;
}
