<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zapster</title>
    <link href="{{ get_url(path="normalize.css", cachebust=true) | safe }}" rel="stylesheet">
    <link href="{{ get_url(path="site.css", cachebust=true) | safe }}" rel="stylesheet">
  </head>
  <body>
    <main>
      <div class="panel">
        <a class="title" href="{{ config.base_url }}">  
          <h1>Zapster</h1>
          <h2>Laser & Electrolysis</h2>
        </a>
        <div class="column fade-in">
          <a class="link fade-in" href="/electrolysis">About Electrolysis</a>
          <a class="link fade-in" href="/laser-hair-removal">About Laser</a>
          <a class="link fade-in" href="https://www.yocale.com/widget/zapster">Book Now</a>
          <a class="link fade-in" href="/blog">Blog</a>
          <a class="link fade-in" href="/faq">FAQ</a>
        </div>
      </div>
    </main>
  </body>
</html>