<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zapster</title>
    <link href="{{ get_url(path="normalize.css", cachebust=true) | safe }}" rel="stylesheet">
    <link href="{{ get_url(path="site.css", cachebust=true) | safe }}" rel="stylesheet">
  </head>
  <body>
    <nav>
      <a class="title" href="{{ config.base_url }}">  
        <h2>Zapster</h2>
      </a>
      <span class="link" id="book-button"></span>
      <a class="link desktop-only" href="{{ config.base_url }}/electrolysis">Electrolysis</a>
      <a class="link desktop-only" href="{{ config.base_url }}/laser-hair-removal">Laser</a>
      <a class="link desktop-only" href="{{ config.base_url }}/blog">Blog</a>
      <a class="link desktop-only" href="{{ config.base_url }}/faq">FAQ</a>
    </nav>
    <main>
      <h2 class="title" >{{ page.title | safe }}</h2>
      <div class="column">
          {% block content %}
          {{ page.content | safe }}
          {% endblock content %}
      </div>
    </main> 
    <script>
      (function() {
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = 'https://app.yocale.com/tentacle/tentacle.v1.0.0.js';
        var x = document.getElementsByTagName('script')[0];
        x.parentNode.insertBefore(s, x);
        s.onload = s.onreadystatechange = function() {
          if (!this.readyState || this.readyState === 'complete') {
            Tentacle.run({
              business: 'zapster',
              type:'INLINE-BUTTON',
              label:'Book Now',
              labelColor:'#333',
              iconColor:'#333',
              backgroundColor:'#fff',
              disableIcon:true,
              targetSelector: '#book-button',
              buttonClass: 'link',
              buttonStyles:{
                'font-size': '1.2em',
                color: 'inherit',
                padding: '0.7em 1em 0.3em 1em',
                'font-family': 'Syne',
                'box-shadow': 'none',
                background: 'none'
              }
            });
          }
        };
      })();
      </script>
  </body>
</html>
    