<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zapster</title>
    <link href="{{ get_url(path="normalize.css", cachebust=true) | safe }}" rel="stylesheet">
    <link href="{{ get_url(path="site.css", cachebust=true) | safe }}" rel="stylesheet">
  </head>
  <body>
    <nav>
      <a class="title" href="{{ config.base_url }}">  
        <h2>Zapster</h2>
      </a>
      <a class="link fade-in" href="/electrolysis">Electrolysis</a>
      <a class="link fade-in" href="/laser-hair-removal">Laser</a>
      <a class="link fade-in" href="/blog">Blog</a>
      <a class="link fade-in" href="/faq">FAQ</a>
    </nav>
    <main>
      <div class="panel">
        {% block content %}
          <h2 class="title" >{{ page.title | safe }}</h2>
          {{ page.content | safe }}
        {% endblock content %}
      </div>
    </main>
  </body>
</html>