<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zapster</title>
    <link href="{{ get_url(path="normalize.css", cachebust=true) | safe }}" rel="stylesheet">
    <link href="{{ get_url(path="site.css", cachebust=true) | safe }}" rel="stylesheet">
  </head>
  <body>
    <main>
      <nav>
        <a class="title" href="{{ config.base_url }}">  
          <h2>Zapster</h2>
        </a>
        <div class="sub-nav">
          <a class="link" href="https://www.yocale.com/widget/zapster">Book Now</a>
          <a class="link" href="{{ config.base_url }}/blog">Blog</a>
          <a class="link" href="{{ config.base_url }}/electrolysis">Electrolysis</a>
          <a class="link" href="{{ config.base_url }}/laser-hair-removal">Laser</a>
          <a class="link" href="{{ config.base_url }}/faq">FAQ</a>
        </div>
      </nav>
      <h2 class="title desktop-only" >{{ section.title | safe }}</h2>
      <div class="column scroll scroll-border">
        <h2 class="title mobile-only" >{{ section.title | safe }}</h2>
        {% for page in section.pages %}
          <a class="link" href="{{ config.base_url }}/blog/{{page.slug}}">{{page.title}}</a> 
        {% endfor %}
      </div>
    </main>
  </body>
</html>
   